

:root.theme-dark {
  --main-font: 'IBM Plex mono';
  --font-size: 18px;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --accent-color:#ff0070;
  --decor-color:#ff0070;
  --bt-color: #ff0070;
  --accent-text-color: #000028;
  --main-text-color:#f1b2ce;
  --bg-color:var(--accent-text-color);
  --h1-color:#DB00FF;
  --line-height: 130%;
  --margin-s: 10px;
  --margin-m: 20px;
  --margin-l: 40px;
  --bg-image: url(../images/cover-image-dark.png);
}


.theme-dark .decor::before {
  display: block;
}

.theme-dark .decor::after {
  display: block;
}

.theme-dark .header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
 }
/*
.theme-dark .page {
  background-color: var(--bg-color);
}
.theme-dark .decorated-zone::before {
  border-top:  1px solid var( --accent-color);
  border-right:  1px solid var( --accent-color);
}

.theme-dark .decorated-zone::after {
  border-bottom:  1px solid var( --accent-color);
  border-left:  1px solid var( --accent-color);
}

.theme-dark .header__theme-menu-button {
  display: block;
  color: var( --accent-color);
}

.theme-dark .header__theme-menu-button_active {
  outline: 1px solid var( --accent-color);
}

.theme-dark .content__title {
  color: var(--accent-color);
}

.theme-dark .footer::before {
  border-top:  1px solid var( --accent-color);
  border-right:  1px solid var( --accent-color);
}

.theme-dark .footer::after {
border-bottom:  1px solid var( --accent-color);
border-left:  1px solid var( --accent-color);
}
*/