:root.theme-dark {
  --main-font: 'IBM Plex mono';
  --font-size: 18px;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --line-height: 130%;
  --accent-color:#ff0070;
  --decor-color:#ff0070;
  --bt-color: #ff0070;
  --h3-color: #000028;
  --accent-text-color: #000028;
  --main-text-color:#f1b2ce;
  --bg-color: #000028;
  --h1-color:#DB00FF;
  --outline-color: #ff007066;
  --margin-s: 10px;
  --margin-m: 20px;
  --margin-l: 40px;
  --bg-image: url(../images/cover-image-dark.png);
}

.theme-dark .decor::before {
  display: block;
}

.theme-dark .decor::after {
  display: block;
}