

:root.theme-light {
  --accent-color:#FF8DCB;
  --main-text-color: #353430;
  --bg-color:#FFF1F7;
  --h1-color:#ffc2e6;
  --bg-image: url(../images/cover-image-light.png);
  --decor-color:#353430;
  --bt-color: #353430;
}

.theme-light .decor::before {
  display: none;
}
.theme-light .decor::after {
  display: none;
}

.theme-light .header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.4);
 }

.theme-light .content__title {
  color: var(--main-text-color); 
}

.theme-light .title-decor {
  color: var(--main-text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color:#FF8DCB;
    --main-text-color: #353430;
    --bg-color:#FFF1F7;
    --h1-color:#ffc2e6;
    --bg-image: url(../images/cover-image-light.png);
    --decor-color:#353430;
    --bt-color: #353430;
  }
    
    .decor::before {
      display: none;
  }

     .decor::after {
      display: none;
  }

    .header__theme-menu-button:hover {
      outline: 1px solid rgba(50, 49, 45, 0.4);
  }

    .content__title {
      color: var(--main-text-color); 
  }

    .title-decor {
      color: var(--main-text-color);
  }
   }
