:root.theme-light {
  --accent-color:#FF8DCB;
  --main-text-color: #353430;
  --bg-color:#FFF1F7;
  --h1-color:#ffc2e6;
  --bg-image: url(../images/cover-image-light.png);
  --decor-color:#353430;
  --bt-color: #353430;
  --h3-color: #353430;
  --h2-color: #353430;
  --outline-color: #32312d66;
}

.theme-light .decor::before {
  display: none;
}
.theme-light .decor::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color:#FF8DCB;
    --main-text-color: #353430;
    --bg-color:#FFF1F7;
    --h1-color:#ffc2e6;
    --bg-image: url(../images/cover-image-light.png);
    --decor-color:#353430;
    --bt-color: #353430;
    --h3-color: #353430;
    --h2-color: #353430;
    --outline-color: #32312d66;
  }
    
    .decor::before {
      display: none;
  }

     .decor::after {
      display: none;
  }
   }
