

:root.theme-light {
  --accent-color:#FF8DCB;
  --main-text-color: #353430;
  --bg-color:#FFF1F7;
  --h1-color:#ffc2e6;
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .page {
  background-color: var(--bg-color);
}

.theme-light .decor::before {
  display: none;
}
.theme-light .decor::after {
  display: none;
}

.theme-light .decorated-zone::before {
  border-top:  1px solid var(--main-text-color);
  border-right:  1px solid var(--main-text-color);
}

.theme-light .decorated-zone::after {
  border-bottom:  1px solid var(--main-text-color);
  border-left:  1px solid var(--main-text-color);
}

.theme-light .header__theme-menu-button {
  color: var(--main-text-color);
}

.theme-light .header__theme-menu-button_active {
  outline: 1px solid var(--main-text-color);
}

.theme-light .content__title {
  color: var(--main-text-color); 
}
.theme-light .footer::before {
  border-top:  1px solid var(--main-text-color);
  border-right:  1px solid var(--main-text-color);
}

.theme-light .footer::after {
border-bottom:  1px solid var(--main-text-color);
border-left:  1px solid var(--main-text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color:#FF8DCB;
    --main-text-color: #353430;
    --bg-color:#FFF1F7;
    --h1-color:#ffc2e6;
    --bg-image: url(../images/cover-image-light.png);
  }

    .page {
      background-color: var(--bg-color);
    }
    
    .decor::before {
      display: none;
    }
     .decor::after {
      display: none;
    }
    
    .decorated-zone::before {
      border-top:  1px solid var(--main-text-color);
      border-right:  1px solid var(--main-text-color);
    }
    
    .decorated-zone::after {
      border-bottom:  1px solid var(--main-text-color);
      border-left:  1px solid var(--main-text-color);
    }
    
    .header__theme-menu-button {
      color: var(--main-text-color);
    }
    
    .header__theme-menu-button_active {
      outline: 1px solid var(--main-text-color);
    }
    
    .content__title {
      color: var(--main-text-color); 
    }

    .footer::before {
      border-top:  1px solid var(--main-text-color);
      border-right:  1px solid var(--main-text-color);
    }
    
    .footer::after {
      border-bottom:  1px solid var(--main-text-color);
      border-left:  1px solid var(--main-text-color);
    }
  }