
.page {
  background-color: var(--bg-color);
  font-family: var(--main-font, sans-serif);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  inline-size: 100%;
  overflow: auto;
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: var(--margin-s)
}

.decor {
 position: absolute;
 inset-inline-end: 10px;
 inset-block-start: 10px;
}

.decor::before {
  content: 'REC';
  position: absolute;
  color: var(--accent-color);
  inset-block-start: 0px;
  inset-inline-end: 28px;
}

.decor::after {
  content: '';
  position: absolute;
  block-size: 9px;
  inline-size: 9px;
  border-radius: 100%;
  background-color: var(--accent-color);
  fill: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  inset-block-start: 8px;
  inset-inline-end: 9px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 24px;
  border-top:  1px solid var(--decor-color);
  border-right:  1px solid var(--decor-color);
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 24px;
  border-bottom:  1px solid var(--decor-color);
  border-left:  1px solid var(--decor-color);
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.header__theme-menu {
  justify-self: end;
  grid-row: 1 /2;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--bt-color);
  text-transform: lowercase;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button:hover {
 outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--bt-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--bt-color);
  pointer-events: none;
}

.heading {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--h1-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
  justify-self: center;
}

.title-decor {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  font-weight: var(--font-weight-bold, 700);
}

.header__paragraph {
 align-self: center;
}

.content {
  padding: 0 var(--margin-s);
}

section:not(:last-of-type) {
  margin-block-end: 50px;
}

section:last-of-type {
  margin-block-end: 40px;
}

a {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid var(--main-text-color);
  cursor: pointer;
}

a:focus {
  outline: 1px solid var(--main-text-color);
}

.content__text-block > .title-decor {
  margin-block-start: var(--margin-m);
}

.title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
}

.content__title {
  color: var(--accent-color);
  margin-block-start: var(--margin-l);
  margin-block-end: var(--margin-m);
}

.content__paragraph {
  color: var(--main-text-color);
  margin-block-start: var(--margin-s);
}

.content__paragraph:not(:last-child) {
  margin-block-end: var(--margin-m);
}

.title__item {
  font-weight: var(--font-weight-normal);
  margin-block-start: var(--margin-m);
}

.content__item > .title {
  margin-block-start: var(--margin-m);
}

li > .title {
  font-weight: var(--font-weight-normal);
  margin-block-start: var(--margin-m);
}

.content_picture {
  display: flex;
  flex-direction: column;
  gap: var(--margin-s);
  margin-block-start: var(--margin-s);
}

img {
 display: block;
 max-inline-size: 100%;
 object-fit: cover;
 object-position: center;
}

.footer {
  text-align: center;
  position: relative;
  text-shadow: 2px 2px 0 var(--accent-color);
  height: 100vh;
  min-height: 668px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--margin-s);
}

@media (width >= 768px) {

  .header {
    grid-template-columns: 1fr 1fr;
    padding: var(--margin-m);
  }

  .decor {
    inset-inline-end: 20px;
    inset-block-start: 20px;
   }

  .decorated-zone::before {
    inset-block-start: var(--margin-m);
    inset-inline-end: var(--margin-m)
  }
  
  .decorated-zone::after {
    inset-block-end: var(--margin-m);
    inset-inline-start: var(--margin-m);
  }

  .header__theme-menu {
    grid-column: 2 /3;
  }

  .heading {
    grid-column: 1/3;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    justify-self: left;
  }
  
  .header > .heading {
    transform: translateX(-20px)
  }

  .header__paragraph {
    grid-column: 2 / 3;
    align-self: center;
  }

  .content {
    padding: 0 var(--margin-m);
  }

  section:last-of-type {
    margin-block-end: 60px;
  }
  
  .content__item > .title {
     margin-block-start: 0;
  }

  .content__text-block {
    display: grid;
    grid-template-columns: 30.76vw auto;
    grid-auto-rows: auto;
    margin-block-start: 60px;
    margin-block-end: 80px;
    gap: var(--margin-m);
  }

  .content__text-block:nth-of-type(even) > .section__content {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .content__item:not(:last-child) {
   margin-block-end: var(--margin-m);
  }

  .content__title {
    grid-column: 1 / 2;
    margin-block: 0px;
  }

  .section__content {
    grid-column: 2 / auto;
    grid-row: 1 / 2;
  }

  .content__paragraph:not(:last-child) {
    margin-block-end: var(--margin-m);
  }

  .content__item > h4:first-of-type {
    margin-block-start: var(--margin-m);
  }
  
  .content_picture {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    height: 100%;
    gap:var(--margin-m);
  }

  .img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  .img_sunset {
    grid-column: span 2;
  }

  .img_ice-cream {
    grid-column: span 1;
    grid-row: span 2;
  }

  .img_tape {
    grid-column: span 1;
    grid-row: span 2;
  }

  .img_street {
    grid-column: span 2;
  }

  .picture__block > .title {
    margin-block-end: var(--margin-m);
  }

  .footer {
   padding: var(--margin-m);
  }

  .footer::before {
    inset-block-start: var(--margin-m);
    inset-inline-end: var(--margin-m);
  }
  
  .footer::after {
    inset-block-end: var(--margin-m);
    inset-inline-start: var(--margin-m);
  }
}

@media (width >= 1024px) {
  .header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
  }

  .header__theme-menu {
    grid-column: 2 / 4;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .heading {
    grid-column: span 4;
    padding-block-end: 0;
  }

  .header__paragraph {
    grid-column: 3 / 5;
  }

  .content__text-block {
    grid-template-columns: repeat(3,1fr);
  }

  .section__content {
    grid-column: 2 / 4;
  }

  .content__text-block:nth-of-type(even) > .section__content {
    grid-column: 1 /4 ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}